<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to start</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio,
        eligendi? Totam commodi veritatis debitis repudiandae explicabo sit
        saepe facere nihil animi placeat aliquam, laudantium suscipit nemo
        exercitationem culpa unde cum.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get started</a>
  </div>
</div>
