<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio
      praesentium cupiditate accusantium consectetur quisquam ducimus a nesciunt
      corrupti minus delectus, rem quo consequuntur dolore reiciendis nostrum.
      Repellendus cumque atque distinctio.
    </p>
  </div>
</div>
